[submodule "runno"]
	path = runno
	url = https://github.com/taybenlor/runno.git
[submodule "arrow-datafusion"]
	path = arrow-datafusion
	url = https://github.com/waynexia/arrow-datafusion.git
	branch = cli-wasm
