main {
  display: grid;
  grid-template-areas:
    'history history sidebar'
    'history history sidebar'
    'input-area input-area sidebar';
  padding: 10px;
  grid-template-columns: auto auto 20%;
  grid-template-rows: auto auto 20%;
}

.sidebar {
  grid-area: sidebar;
}

.history {
  grid-area: history;
}

.input-area {
  grid-area: input-area;
}